html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: 'Crimson Text', serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}
