.site-name {
  margin: 0;
  width: 100%;
  height: 420px;
  padding-top: 100px;
  background: url("./img/title.jpg") center calc(420px * -1 / 1.6) no-repeat #333;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
  font-family: Optima, Candara;
  font-size: 20rem;
  text-align: center;
  letter-spacing: 3.5rem; }

.selfie {
  width: 300px;
  height: 400px; }

.selfie-image {
  width: 100%; }

.about-us {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto; }
  .about-us.shinya {
    flex-direction: row-reverse; }
  .about-us.chinatsu {
    margin-top: -30px; }

.introduction {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start; }
  .shinya .introduction {
    margin-right: 30px; }
  .chinatsu .introduction {
    margin-left: 30px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right; }

.my-name-is {
  margin-bottom: 20px;
  font-size: 3.2rem;
  letter-spacing: 0.5rem; }

.comment {
  margin-bottom: 20px;
  font-size: 1.7rem; }

.move-to-works {
  margin-bottom: 5px;
  padding: 5px 0;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 0.3rem; }

.sns-links {
  display: flex;
  margin: 0 -5px; }
  .chinatsu .sns-links {
    justify-content: flex-end; }

.sns-links-item a {
  padding: 0 5px; }

.sns-links-item i {
  font-size: 2rem; }
