@import url('https://fonts.googleapis.com/css?family=Belleza|Roboto+Condensed:300,400');

html {
  min-height: 100%;
  font-size: 62.5%;  /* 10px */
}

body {
  font-family: 'Roboto Condensed', Garamond, Georgia, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #333;
  background: linear-gradient(-90deg, #bac5ce, #fff 30%, #fff 70%, #bac5ce);
  -webkit-text-size-adjust: 100%;
}

a {
  color: #666;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: #446bd7;
}

ul {
  list-style-type: none;
}
